* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-card: rgba(217, 217, 217, 0.5); /* #d9d9d9 with 50% opacity */
}

#root {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: var(--color-background-light);
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
}
